nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    background: var(--main-bg);
    padding: 0.3rem 2rem;
    width: 100%;
}

.logo {
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    font-weight: 300;
    padding: 0 20px;
    font-weight: bold;
}
.icon-logo{
    font-size: 3rem;
    padding-right: 0.5rem;
}
.x{
    color: var(--tertiary);
}
nav ul {
    margin: 0;
    display: flex;
}
nav ul li .menu {    
    font-size: 1rem;
    font-weight: 300;
    padding: 7px 1rem;
    border-radius: 3px;
}
nav .icon-menu{
    font-size: 1.5rem;
    padding-right: 0.2rem ;
    color: white;
}
nav ul li .menu.active,
nav ul li .menu:hover {
    padding-bottom: .5rem;
    border-bottom :2px solid #fff ;
    transition: .5s ease;
}
nav .langue{
    cursor: pointer;
    display: flex;
    align-items: center;
}
nav .langue select {
    padding: .1rem;
    border: none;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #333;
    font-size: .8rem;
    cursor: pointer;
  }
  select::-ms-expand {
    display: none; /* Pour Internet Explorer */
  }
.menu {
    color: white;
    text-decoration: none;
}
.checkbtn , .fermerute_menu {
    font-size: 30px;
    color: var(--white);
    cursor: pointer;
    display: none;
}
@media (max-width: 1000px) {
    .logo {
        font-size: 0.9rem;
        /* padding-left: 50px; */
    }

    nav ul li .menu {
        font-size: 0.8rem;
    }
    nav .icon-menu{
        font-size: 1rem;
    }
    nav .langue select {
        font-size: .7rem;
      }
}
@media (max-width: 858px) {
    .checkbtn , .fermerute_menu {
        display: block;
        position: absolute;
        right:2rem;
        top: 1rem;
    }
     .fermerute_menu {
        position: absolute;
        right:1rem;
        top: 1rem;
        font-size: 1rem;
        border-radius: 50%;
        background: transparent;
        transition: .5s ease;
    }
     .fermerute_menu:hover {
        background: gray;
    }
    .checkbtn .tiret{
        width: 100%;
        height: max-content;
    }
    .pub-nav ul {
        padding: 2rem;
        line-height: 3rem;
        position: fixed;
        height:100vh;
        background: #2c3e50;
        top:0;
        right: -200%;
        transition: all .5s;
        flex-direction: column;
        align-items: start;
    }
    .langue{
        width: 100%;
        padding: 0.5rem;
    }
    nav ul.toggle {
        /* right: 0; */
    }  
    nav ul li .menu {
        font-size: 20px;
        line-height: 2rem;
        font-size: 1rem;
    }
    nav ul li .menu.active,
    nav ul li .menu:hover {
        background: none;
        color: #0082e6;
        border: none;
        line-height: 2rem;
        font-size: 1rem;
    }

}