.panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        z-index: 6;

        .content {
            color: #fff;
            transition: transform 0.9s ease-in-out;
            transition-delay: 0.6s;
            width: 100%;
            padding: 1rem;

            h3 {
                font-weight: 600;
                line-height: 1;
                font-size: 1.5rem;
            }

            p {
                font-size: 0.95rem;
                padding: 0.7rem 0;
            }

            .btn {
                width: 150px;
                background-color: #5995fd;
                border: none;
                outline: none;
                height: 49px;
                border-radius: 49px;
                color: #fff;
                text-transform: uppercase;
                font-weight: 600;
                margin: 10px 0;
                cursor: pointer;
                transition: 0.5s;

                &:hover {
                    background-color: #4d84e2;
                  }
                  &.transparent {
                    margin: 0;
                    background: none;
                    border: 2px solid #fff;
                    width: 130px;
                    height: 41px;
                    font-weight: 600;
                    font-size: 0.8rem;
                  }
              }
              


        }

    }

    .left-panel {
        pointer-events: all;
        padding: 3rem 17% 2rem 12%;
    }

    .right-panel {
        pointer-events: none;
        padding: 3rem 12% 2rem 17%;

         .image,.content {
          transform: translateX(800px);
        }
    }
}