.gr-contrainer{
   display: flex;
   flex-wrap: wrap;
}
.gridService h1{ 
    text-align: center;
    padding: 2rem;
}
.column {
    padding: 0 1em 1em 1em;
}

.column .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(var(--white) 50%, var(--main) 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
}

.column .card h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--tertiary);
    margin: 1em 0;
}

.column .card p {
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: gray;
}

.column .card .icon {
    background: var(--main);
    position: relative;
    margin: auto;
    font-size: 30px;
    width: 2.5em;
    height: 2.5em;
    color: var(--white);
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.column .card:hover {
    background-position: 0 100%;
}
.column .card:hover .icon {
    background: var(--white);
    color: var(--main);
}
.column .card:hover p {
    color: var(--white);
}
@media (min-width: 768px) {
    .column{
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media (min-width: 992px) {
    .column{
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }