.swiper-button-next, .swiper-button-prev {
    color: var(--tertiary);
  }
.swiper-button-prev:hover, 
.swiper-button-next:hover {
  transform: scale(1.1);   /* Légère mise à l'échelle */
  transition: 0.3s ease; 
  font-weight: bold;
  color: blue;
    /* Animation fluide */
}

.r-card{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px ;
    width: 20rem;
    margin: auto;
    transition: all 300ms ease-in;
}
.r-card>img{
    width: 100%;
    max-width: 11rem;
    height: 11rem;
    border-radius: 20px;
}
.r-card>:nth-child(2){
    color: var(--tertiary);
    line-height:1.7rem ;
    text-align: center;
}
.r-card>:nth-child(3){
    /* font-size: 0.9rem; */
    /* color: var(--white); */
    padding: 0 1rem;
    text-align: center;
}

.r-card:hover{
    scale: 1.025;
    cursor: pointer;
    background: linear-gradient(
        180deg,
        rgba(255,255,255,0) 0%,
        rgba(136,160,255,0.46) 217.91%
    );
    box-shadow: 0px 72px 49px -51px rgba(136,160,255,0.21);
}


@media (max-width: 650px) {
    .r-card{
        width: 17rem;
    }
}
@media (max-width: 380px) {
    .r-card{
        width: 11rem;
    }
}